<body class="background">
<%= form_with model: @memo, url:memos_path,method: :post, class: "post" ,local: true do |f| %>
  <div class="article-box">
   <%= render "shared/error_messages", model: f.object %>
    メモ
    <%= f.collection_select(:industry_id, Industry.all, :id, :industry, {}, {class:"industry-select"}) %>
    <%= f.text_field :title, class:"title", placeholder:"企業名" %>
    <%= f.text_field :title, class:"title", placeholder:"企業のURL(任意)" %>
    <%= f.text_area :selection_status, class:"text", placeholder:"選考状況・面接日程・企業の特徴等" %>
    <%= f.text_area :body, class:"text", placeholder:"反省点や良かった点" %>
    <%= f.submit "保存" ,class:"btn" %>
  </div>
<% end %>
</body>
